body{
    background-color: rgb(35, 22, 59);
}

.title{
    font-size: 52px;
    font-family: 'Courier New';


}

#subtitle{
    font-size: 24;
}

p{
    color: rgb(255, 255, 255);
}

button{
    padding: 20px;
    border-radius: 0;
}
